img {
    border-radius: 50%;
    align-items: center;
  }

.col-lg-6{
    padding: 10% 3%;
    
}

.img-cls{
    display: flex;
    justify-content: center;
    
}

h2{
    
    display: flex;
    justify-content: center;
}



.col-lg-4{
    padding: 3%
}